﻿<!DOCTYPE html>
<html>
    <head>
        <title>Turner Challenge</title>
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/bundles/bootstrap-css")
        @RenderSection("scripts", false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>