﻿@section scripts{
    <script src="~/Scripts/src/TitlesModule.js" ></script>
    <link href="~/Content/myCustomCss.css" rel="stylesheet" type="text/css" />
}

<div ng-app="application" class="application">
    <div ng-controller="titlesController">
        <div class="application-header">
            <div class="application-title">
                Turner Title Finder
            </div>
            <div class="application-search">
                <input type="text" placeholder="Enter the name of the title you're searching for..." ng-model="searchTitle" />
            </div>
        </div>

        <div class="modal fade" id="titleModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1>{{ currentTitle.name }}</h1>
                    </div>
                    <div class="modal-body">

                        <div class="title-info">

                            <div class="info-section">
                                <div>
                                    <span>Release Year:</span> {{ currentTitle.releaseYear }}
                                </div>
                                <div>
                                    <span>Genres:</span> <span class="no-bold-text" ng-repeat="g in currentTitle.genres">{{ $index != currentTitle.genres.length - 1 ? g.genre + ", " : g.genre }}</span>
                                </div>
                                <div>
                                    <span>Alternative Titles:</span> <span class="no-bold-text" ng-repeat="at in currentTitle.altTitles">{{ $index != currentTitle.altTitles.length - 1 ? at.name  + " [" + at.language + "] , " : at.name + " [" + at.language +"]" }}</span>
                                </div>
                            </div>

                            <div class="info-section">
                                <div class="storyline-descriptions">
                                    <span>Storyline Descriptions</span>
                                    <div ng-repeat="s in currentTitle.storylines">
                                        <span>{{ s.source + " - " }}</span><span class="no-bold-text">{{ s.description }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="info-section">
                                <div class="awards-participants">
                                    <div class="awards">
                                        <span>Award Nominations</span>
                                        <div ng-if="currentTitle.awards.length > 0" ng-repeat="a in currentTitle.awards">
                                            {{ a.name + " (" + a.year + ") " }} <span ng-if="a.won"> - <span class="award-company-info">{{ a.awardCompany }} Winner</span></span>
                                        </div>
                                        <div ng-if="currentTitle.awards.length <= 0">
                                            None
                                        </div>
                                    </div>
                                    <div class="participants">
                                        <span>Participants</span>
                                        <div class="participants-table-area">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Role</th>
                                                        <th>On Screen</th>
                                                        <th>Key Role</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="a in currentTitle.participants">
                                                    <td>{{ a.name }}</td>
                                                    <td>{{ a.roleType }}</td>
                                                    <td ng-if="a.isOnScreen == true"><span class="glyphicon glyphicon-ok" /></td>
                                                    <td ng-if="a.isOnScreen == false"> </td>
                                                    <td ng-if="a.isKey == true"><span class="glyphicon glyphicon-ok" /></td>
                                                    <td ng-if="a.isKey == false"> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <table class="table">
                <tr ng-repeat="t in titles | filter : searchTitle" ng-click="openModal(t);">
                    <td>{{ t.name }}</td>
               </tr>
            </table>
        </div>
    </div>
</div>
