﻿html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* Main application stuff */
.application {
    padding: 50px;
    background-color: white;
}

.application-header .application-title {
    font-size: 3em;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-style: italic;
    padding-left: 25px;
    margin-bottom: 2px;
}

.application-header .application-search {
    padding: 0px 10px 15px 10px;
}

.application-header .application-search input {
    font-style: italic;
    font-size: 1.75em;
    width: 100%;
    height: 50px;
}

/* Modal stuff */
.modal .modal-dialog {
    width: 75%;
}

.modal .modal-header {
    text-align: center;
    background-color: black;
    color: white;
    font-style: italic;
    font-size: 1.25em;
    border-radius: 5px;
}

.modal .modal-header button {
    color: white;
}

.close {
    opacity: 1;
}

.modal .modal-header h1 {
    font-weight: bold;
    font-size: 2.5em;
}

.modal .modal-body {
    padding: 25px;
}

.title-info {
    margin-bottom: 15px;
}

.title-info .info-section {
    margin-bottom: 15px;
}

.title-info span:not(.no-bold-text) {
    font-weight: bold;
}

.storyline-descriptions div {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.awards-participants {
    display: flex;
    justify-content: center;
    margin-top:25px;
}

.awards-participants .awards {
    flex: 1 1 auto;
}

.awards-participants .awards .award-company-info {
    font-style: italic;
    font-weight: normal;
}

.awards-participants .participants {
    flex: 1 1 auto;
    margin-left: 50px;
}

.awards-participants .participants .participants-table-area {
    max-height: 400px;
    overflow-x: hidden;
}
